// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

th{
    background-color: lightgray;
    padding-left: 4px;
    text-align: center;
}
td{
    text-align: center;
    margin: 0 auto;
}
