<template>
  <div class="row justify-content-center">
      <div class="col-md-8">
          <div class="card card-default">
              <div class="card-header">Landing Page</div>

              <div class="card-body">
                  Beste lezer, ik heb de opdracht niet helemaal uitgewerkt, maar dat
                  hoefde ook niet werd mij verteld. Ik heb deze opdracht expres in
                  Vue en Laravel gemaakt zodat ik daar alvast wat kennis over heb.
                  <br>
                  <br>
                  Ik heb het volgende:
                  <br>
                  <br>- Een overzicht met producten in de database
                  <br>- Een knop wat er voor zorgt dat er producten in de database komen op basis van dummy data in JSON.
                  <br>- Een Vue front-end
                  <br>- Een Laravel back-end
                  <br>- Cors-Middleware toegevoegd zodat ik geen fouten kreeg bij de requests.
                  <br>- MVC toegepast
                  <br>- Een leuk navigatiebalkje toegevoegd
              </div>
          </div>
      </div>
  </div>
</template>
