<template>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-default">
                <div class="card-header">Producten</div>

                <div class="card-body">
                    <thead>
                        <tr>
                            <th>Naam</th>
                            <th>EAN</th>
                            <th>SKU</th>
                            <th>Verkoopprijs</th>
                            <th>Inhoud</th>
                            <th>Actuele Voorraad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="product in products" :key="product.EAN">
                            <td>{{product.productnaam}}</td>
                            <td>{{product.EAN}}</td>
                            <td>{{product.SKU}}</td>
                            <td>{{product.verkoopprijs}}</td>
                            <td>{{product.inhoud}}ml</td>
                            <td>{{product.actuele_voorraad}}</td>
                        </tr>
                    </tbody>
                    <button class="btn btn-danger" @click.prevent="fillDatabase()">Fill Database</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                products: {}
            }
        },
        created() {
            let uri = 'http://127.0.0.1:8000/api/products';
            this.axios.get(uri).then(response => {
                this.products = response.data.data;
            });
        },
        methods:{
            fillDatabase(){
                let uri = 'http://localhost:8000/api/product/create';
                this.axios.post(uri).then(response =>{this.$router.push({name: 'home'});
                });
            }
        }
    }
</script>
